@import url('https://fonts.googleapis.com/css2?family=Warnes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Warnes&family=Work+Sans:wght@500&display=swap');

#brandName{
	font-family: 'Warnes', cursive;
	color: #FF511C;
	font-size: 2rem;
	padding: 0.2rem 0.3rem 0.2rem 0.5rem;
	margin-bottom: 0;
}
#header-navbar{
	background-color: #414141;
}
.nav-link{
	font-family: 'Work Sans';
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	margin-left: 0.7rem;
	font-size: 1.2rem;
	margin-bottom: 0;
}
.nav-link:hover, .nav-link:focus{
	color:#FFA286
}
.nav-link:hover{
	color:lightcoral !important;
}
.navbar-toggler-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 162, 134, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
button.navbar-toggler{
	border: 2px solid #FFA286 !important;
	color:rgba(243, 199, 199, 0.52) !important;
	border-radius: 27px;
}
button.navbar-toggler:hover{
	background-color: rgba(235, 193, 193, 0.52)	!important;
}
