* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: .25rem;
}
.row{
	width: 100%;
}
.title{
	font-weight: bold;
	width: 3rem;
	position: relative;
	float: right;
	text-align: center;
	background-color: #fb8500;
	color: #023047;
}
.pa{
	padding: 0.5rem 1rem;
	clear: right;
	color: #8ecae6;
}
#container {
    position: relative;
}
#box{
	margin: 20px;
	background: #023047;
}
/*Destop response*/
@media (min-width: 992px) {
	.col_lg{
		float: left;
		width: 33.33%;
	}
}

/*Tablet response*/
@media (min-width: 768px) and (max-width: 991px) {
	.col_md_1,.col_md_2{
		float: left;
	}
	.col_md_1{
		width: 50%;
	}
	.col_md_2{
		width: 100%;
	}
}

/*Mobile response*/
@media (max-width: 767px) {}
